<div id="<%= dom_id list %>" class="flex-shrink-0 w-80 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
  <div class="p-4">
    <h3 class="font-semibold text-gray-800 text-lg mb-4"><%= list.name %></h3>

    <div class="mt-4">
      <%= link_to "+ Add a card", "#", 
        class: "text-gray-600 hover:text-gray-800 text-sm hover:bg-gray-100 rounded px-2 py-1 -ml-2" %>
    </div>

  </div>
</div>
