<div id="<%= dom_id board %>" class="flex flex-col h-full">
  <div class="shrink-0 w-full bg-white rounded-xl shadow-md border border-gray-200 
                  hover:shadow-lg transition-shadow">
    
    <div class="p-8 flex flex-col justify-center h-40 min-h-40">
      <%= link_to board_path(board), class: "text-center" do %>
        <h3 class="font-semibold text-xl text-gray-800 hover:text-gray-900 transition-colors">
          <%= board.name %>
        </h3>
      <% end %>
    </div>
  </div>
</div>
