<%= turbo_frame_tag "new_board" do %>
  <div class="pt-4">
    <div class="shrink-0 w-80 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
      <div class="p-4">
        <%= link_to "Create new board", new_board_path,
              class: "font-semibold text-gray-800 text-lg mb-4" %>
      </div>
    </div>
  </div>
<% end %>
