<% content_for :title, "Boards" %>

<div class="font-bold">
  <div class="min-h-screen bg-gray-100 py-8 px-8">
    <% if notice.present? %>
      <p class="py-2 px-4 bg-green-50 mb-6 text-green-600 font-medium rounded-lg inline-block" 
         id="notice"><%= notice %></p>
    <% end %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto">
      <%= render "boards/new_board" %>
      <div id="boards" class="contents">
        <%= render @boards %>
      </div>
    </div>
  </div>
</div>
